body{
    text-align: center;
    background-color: darkseagreen;
    font-family: Verdana;
}
li{
    text-align: left;
    font-family: Verdana;
}
button{
    height: 50px;
    width: 115px;
    font-size: medium;
    background-color: mediumseagreen;
    font-family: Verdana;
}
input{
    font-size: medium;
    font-family: Verdana;
}